###

# logs
logs/*

# results
results/*
result/*

# some intermidate file
data/flickr/*
data/google/*
data/clean/*
data/noisy/*
data/*.bin
data/img_feat/*

# swap files
*.*~

#python
*.py[cod]
*.so
*.egg
*.egg-info
dist
build
