###

# logs
logs/*.log

# results
results/inception_v3/*.tar
results/resnet50/*.tar
results/per_criteron/*
results/conf_score/*

# some intermidate file
data/flickr/*
data/google/*
data/clean/*
data/noisy/*
data/*.bin
data/img_feat/*
data/pred_probs/*
data/*.lst
data/*.npy
data/k-means/*
data/denoised/*
data/den_est/*

# swap files
*.*~

#python
*.py[cod]
*.so
*.egg
*.egg-info
dist
build
